@media screen and (max-aspect-ratio: 5 / 4)
  body
    font-size: 1.1vh !important

  #querry--results--persents
    font-size: 10.25em !important

  #section--left__wrapper
    background-position: center top !important

.load *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important

body
  font-family: "Open Sans", sans-serif
  font-size: 1.5vh
  color: #3b3b3b
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  width: 100%
  height: 100vh

button
  &:active, &:focus
    outline: none !important

input:focus
  outline: none !important

#section--left__wrapper
  position: relative
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  float: left
  width: 75%
  height: 100vh
  background: #1a5c71 url("../img/girl.jpg") no-repeat
  background-position: left top
  background-size: cover
  -webkit-transition: all 0.5s
  -o-transition: all 0.5s
  transition: all 0.5s

#querry--results
  position: absolute
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  opacity: 0
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  width: 100%
  height: 100%
  background: #fc8950b0
  z-index: 10
  -webkit-transition: opacity 1s
  -o-transition: opacity 1s
  transition: opacity 1s
  -webkit-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
  -o-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
  transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)

#querry--results--persents
  width: 65%
  font-size: 21.25em
  color: #ffffff
  font-weight: 800
  text-transform: uppercase
  margin: 0
  line-height: 1

#querry--results--descr
  width: 65%
  font-size: 2.5em
  font-weight: 800
  margin: 0
  color: #ffffff
  text-transform: uppercase

#section--left__bottom
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  width: 100%
  min-height: 5%
  background: #ffffffb8
  -ms-flex-item-align: end
  align-self: flex-end
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  padding: 0 5%
  z-index: 999

  h6
    margin: 0 0.5em 0 0
    font-size: 0.75em
    padding: 0

.heart
  width: 5em
  height: 5em
  background: #fff
  border-radius: 50%
  position: absolute
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  border: 0.5em solid #fc5095
  fill: #fc5095
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  left: -2.5em
  top: 28vh
  z-index: 9999999

#section--right__wrapper
  position: relative
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  width: 25%
  min-width: 420px
  height: 100%
  background: #fc5095
  padding-left: 0.7%
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: width 0.5s
  -o-transition: width 0.5s
  transition: width 0.5s

#section--right__main__wrapper
  width: 100%
  height: 80%
  -ms-flex-item-align: end
  align-self: flex-end
  background: white
  overflow: hidden

#section--right__main
  height: 100%
  width: 100%
  margin-top: 0
  -webkit-transition: all 0.5s
  -o-transition: all 0.5s
  transition: all 0.5s

.section--right__content
  width: 100%
  height: 100%

.content_number_1
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  padding: 10vh 5% 0 13%
  -webkit-box-sizing: border-box
  box-sizing: border-box

  p
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    font-size: 1.5em
    font-style: Regular
    font-weight: 400
    letter-spacing: 0.2 0.375em
    text-transform: uppercase
    margin: 0

  h2
    font-size: 2.125em
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 2.1 0.5em
    margin: 0 0 4%

  h3
    text-transform: uppercase
    font-size: 1.875em
    color: #fc5095
    margin: 0 0 3%

  button
    margin: 0 0 29vh 0
    border: none
    border-radius: 0.625em
    padding: 0.6875em 1.6875em
    background: #fc5095
    color: #ffffff
    font-size: 2.375em
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.0225em
    -ms-flex-item-align: start
    align-self: flex-start

    &:not(:hover)
      -webkit-transition: background 1s
      -o-transition: background 1s
      transition: background 1s
      -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05)
      -o-transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05)
      transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05)

    &:hover
      background: #f20061
      -webkit-transition: background 1s
      -o-transition: background 1s
      transition: background 1s
      -webkit-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
      -o-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
      transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)

input
  &[type=checkbox], &[type=radio]
    display: none

.rbuttons--quiz
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  width: 20vw
  height: 7.5vh
  border-radius: 0.625em
  border: 0.0625em solid #d3d3d3
  background-color: #ffffff
  font-size: 1.625em
  font-weight: 400
  letter-spacing: 0.009375em
  margin: 0 0 3% 0

  &:checked ~ #button--toReg
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    opacity: 1

#variant--a:checked ~ #label--a, #variant--b:checked ~ #label--b, #variant--c:checked ~ #label--c, #variant--a:hover ~ #label--a, #variant--b:hover ~ #label--b, #variant--c:hover ~ #label--c
  color: #ffffff
  background-color: #fc8950

.content_number_2
  background: #f6f5f5
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  padding: 8.5vh 20% 0vh 8%
  -webkit-box-sizing: border-box
  box-sizing: border-box
  line-height: 1.2

  h3
    text-transform: uppercase
    font-size: 1.875em
    color: #fc8950
    margin: 0 0 7%

  button
    margin: 10vh 0 0 1.5vh
    border: none
    border-radius: 0.625em
    padding: 1.1em 1.4em
    background: #fc8950
    color: #ffffff
    font-size: 1.625em
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.0225em
    -ms-flex-item-align: start
    align-self: flex-start
    opacity: 0
    background: #f96e29
    -webkit-transition: all 1s
    -o-transition: all 1s
    transition: all 1s
    -webkit-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
    -o-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
    transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)

.content_number_3
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  background: #f6f5f5
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 6vh 11vw 4vh 3.5vw

  h3
    color: #1da7c0
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.1 0.5em
    font-size: 1.875em

  legend
    font-family: "Open Sans", Semibold
    font-size: 1.125em
    font-weight: 600
    letter-spacing: 0.003125em

  input
    &:invalid
      border: none
      -webkit-box-shadow: none
      box-shadow: none

      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
        color: #b72020

    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder
      font-size: 1.125em
      font-weight: 300

    &[type=text], &[type=password], &[type=email]
      height: 11%
      width: 90%
      -webkit-box-sizing: border-box
      box-sizing: border-box
      font-size: 1.125em
      border: 0.0625em solid #d3d3d3
      border-radius: 0.625em
      margin: 0 0 1.5vh 0
      padding: 0 0 0 1vw

    &[type=text]:focus, &[type=password]:focus
      border: 0.0625em solid #84d7e6

    &[type=submit]
      height: 11%
      width: 60%
      color: #ffffff
      font-size: 1.625em
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 0.0225em
      margin: 1.5vh 0 0 0
      border-radius: 0.625em
      background-color: #1da7c0

      &:disabled
        color: #aaa9a9
        border: 0.0625em solid #1da7c0
        background-color: #ffffff

    &[type=checkbox]
      display: none

  label
    padding-left: 1.25em
    width: 90%

    &::before
      content: ""
      display: inline-block
      border: 0.0625em solid black
      width: 0.875em
      height: 0.875em
      margin-right: 0.625em
      border-radius: 0.125em

  input[type=checkbox]:checked + label::before
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="f000000"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>')
    background-size: contain

  #privacy
    color: #000000
    font-size: 0.875em
    font-weight: 400
    letter-spacing: 0.01em

.rwrapper
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  height: 5em
  width: 90%
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  margin: 0 0 2vh 0

  label
    &::before
      width: 1.5em
      height: 100%
      background: url("../img/female_black.png") center no-repeat
      background-size: contain
      border: none

    &:nth-child(2)::before
      background: url("../img/male_black.png") center no-repeat
      background-size: contain

  input[type=radio]:checked + label
    &::before
      background: url("../img/female_white.png") center no-repeat
      background-size: contain

    &:nth-child(2)::before
      background: url("../img/male_white.png") center no-repeat
      background-size: contain

  label
    padding: 0
    height: 100%
    width: 48%
    margin: 0 0 1.5vh 0
    background: #ffffff
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    border: 0.0625em solid #d3d3d3
    border-radius: 0.625em
    font-size: 1.5em
    font-family: "Open Sans", Semibold
    font-weight: 400
    letter-spacing: 0.004375em
    -webkit-transition: all 0.5s
    -o-transition: all 0.5s
    transition: all 0.5s

  input[type=radio]:checked + label
    color: #ffffff
    background: #1da7c0
    -webkit-transition: all 1s
    -o-transition: all 1s
    transition: all 1s
    -webkit-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
    -o-transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
    transition-timing-function: cubic-bezier(0.22, -0.56, 0, 1.78)
